.login-form {
    border: 1px solid #e7e7e7;
    height: 300px;
    padding-top: 50px;
}
.login-form .forget-pwd {
    display: block;
    font-size: 1.2em;
    margin-top: 15px;
    margin-left: 35%;
}
.tab-body {
    margin-top: 10px;
}
.loading {
    display: block;
    position: relative;
    top: 40px;
    left: 10px;
}
.autoWrap {
    word-wrap:break-word;
    word-break:normal;
}
.message {
    width: 100%;
    position: fixed;
    top:0px;
    left:0px;
    z-index: 999999999999;
}